.filter__label {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 20px;
}



.filter__input {
  width: 200px;
  height: 20px;
  padding: 5px 10px;
}

.container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}