.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 500px;
  box-shadow: 2px 2px 8px 2px gray;
  margin: 50px auto;
  padding: 20px;
}

.form__label {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.form__input__wrap {
  display: flex;
  column-gap: 20px;
}

.form__input {
  width: 200px;
  height: 20px;
  padding: 5px 10px;
  /* margin-right: 200px; */
}

.form__error {
  display: block;
  margin-bottom: 5px;
  color: red;
}

.form__btn {
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.form__btn:focus, .form__btn:hover {
  background-color: #6af36a;
  color: white;
}

.contacts__title {
  width: 500px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
