.contact__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-left: 10px;
}

/* Пропадає точка для li при додавані їй  display: flex*/
.contact__list__item {
  max-width: 450px;
  display: flex;
  justify-content: space-between;
}
